body {
  margin: 0px;
  font-size: 20px;
}
.main-page {
  width: 100%;
}
.home {
  width: 100%;
}
.banner {
  width: 100%;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-link {
  display: inline-block;
  padding: 8px;
  text-align: center;
  margin-bottom: 12px;
}
.banner-link a {
  background-color: #ffffff61;
  color: black;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}
.banner-link a:hover {
  background-color: black;
  color: yellow;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-bar {
  background-color: green;
  padding: 6px;
}
.nav-item {
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background: transparent;
  border: none;
}
.nav-item:first-child {
  float: left;
}
.nav-item:hover {
  background: white;
  text-decoration: none;
  color: black;
}
.dog-form {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: block;
  padding: 12px;
}
.dog-form label {
  margin-top: 12px;
  font-size: 20px;
}
.dog-form button[type="submit"] {
  padding: 12px;
  margin-top: 12px;
  color: black;
  background-color: lightgreen;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}
.dog-form textarea {
  height: 100px;
  width: 100%;
  border-radius: 6px;
  padding: 6px;
}
.dog-form input {
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid forestgreen;
}
.page {
  padding: 8px;
  width: 100%;
}
.dog {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
}
.dog img, video {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}
.dog .description {
  font-size: 20px;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}
.marker {
  padding: 12px;
  width: 50px;
  margin: auto;
  display: block;
}
.marker:hover {
  cursor: pointer;
}
.marker img {
  width: 100%;
}
.view-more {
  margin: auto;
  display: block;
  border: none;
  background: #cdcfb3;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.forgot-password {
  margin-top: 12px;
  display: block;
}
.edit-dog-link {
  display: block;
  text-align: center;
}
.new-stray-dog {
  text-align: center;
  padding: 12px;
  font-size: 20px;
}
.gps-alert {
  font-size: 20px;
  color: #3031e6;
}
.loading {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 52px;
  max-width: 300px;
}
.dog-button {
  padding: 0px 8px;
  display: inline-block;
  margin-bottom: 8px
}
.dog-button .inner {
  border: none;
  padding: 12px;
  background: #3e8fd6;
  transition: transform 0.2s linear 0s;
  font-size: 20px;
  color: black;
  text-align: center;
  display: inline-block;
  width: 100%;
  min-width: 269px;
}
.filter-buttons {
  width: 855px;
  display: block;
  margin: auto;
}
@media(max-width: 885px) {
  .dog-button {
    width: 100%;
  }
  .filter-buttons {
    width: 100% !important;
  }
}
.dog-button .inner:hover {
  transform: scale(1.1, 1.1);
  text-decoration: none;
}

.dog-place {
  text-align: center;
  font-size: 20px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  display: block;
}
.dog-delete {
  border: none;
  margin: auto;
  display: block;
  padding: 8px;
  background: transparent;
  color: #537af6;
}
.dog-delete:hover {
  text-decoration: underline;
}
.dog {
  overflow: hidden;
}
.report-heading {
  text-align: center;
}
.fb-share-button {
  padding: 7px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  width: 110px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  transition: transform 0.2s linear 0s;
  font-size: 22px;
}
.fb-share-button:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1, 1.1);
}
.f-button {
  display: inline-block;
  padding: 0px 11px 0px;
  margin-right: 8px;
  background: white;
  color: blue;
  border-radius: 4px;
  font-size: 28px;
}
.login-as-guest {
  border: none;
  padding: 17px;
  display: block;
  width: 169px;
  margin: auto;
  margin-top: 20px;
  background: blue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.reported-date {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 12px;
  font-size: 22px;
}
.dog-update div {
  text-align: center;
}
.update-form-toggle {
  display: block;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  border: none;
  padding: 12px;
  background-color: blue;
  color: yellow;
  border-radius: 12px;
  transition: transform 0.2s linear 0s;
}
.update-form-toggle:hover {
  transform: scale(1.1, 1.1);
}
.dog-update, .dog {
  border-radius: 20px;
  box-shadow: 0px 0px 20px #ceceda;
  padding: 20px;
  max-width: 544px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}