body {
  margin: 0px;
}
.main-page {
  width: 100%;
}
.home {
  width: 100%;
}
.banner {
  width: 100%;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-link {
  display: inline-block;
  padding: 8px;
  text-align: center;
  margin-bottom: 12px;
}
.banner-link a {
  background-color: #ffffff61;
  color: black;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}
.banner-link a:hover {
  background-color: black;
  color: yellow;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-bar {
  background-color: green;
  padding: 6px;
}
.nav-item {
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background: transparent;
  border: none;
}
.dropdown {
  display: inline-block;
}
.nav-item:hover {
  background: white;
  text-decoration: none;
  color: black;
}
.dog-form {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: block;
}
.dog-form label {
  margin-top: 12px;
  font-size: 20px;
}
.dog-form button[type="submit"] {
  padding: 12px;
  margin-top: 12px;
  color: black;
  background-color: lightgreen;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}
.dog-form textarea {
  height: 100px;
  width: 100%;
  border-radius: 6px;
  padding: 6px;
}
.dog-form input {
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid forestgreen;
}
.page {
  padding: 12px;
  width: 100%;
}
.dog {
  width: 100%;
  display: inline-block;
}
.dog img {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}
.dog .description {
  font-size: 20px;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.marker {
  padding: 12px;
  width: 50px;
  margin: auto;
  display: block;
}
.marker:hover {
  cursor: pointer;
}
.marker img {
  width: 100%;
}
.view-more {
  margin: auto;
  display: block;
  border: none;
  background: #cdcfb3;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.forgot-password {
  margin-left: 12px
}
.edit-dog-link {
  display: block;
  text-align: center;
}